<div class="card-panel #f5f5f5 grey lighten-4  z-depth-1 content-bg">
    <div class="row">
        <ul class="collapsible col l8 offset-l2" id="myTournaments">
            <li  ng-repeat="player in team.players">
                <div class="collapsible-header">{{team.name}}</div>
                <div class="collapsible-body">
                    <h5 class="col l4 offset-l1">
                        Players: {{player.name}} {{player.surname}}
                    </h5>
                </div>
            </li>
        </ul>
    </div>
</div>