<div class="card-panel #f5f5f5 grey lighten-4  z-depth-1 content-bg">
    <div class="row">
        <ul class="tabs">
            <li class="tab col s3 reg-tabs" ng-click="registerQueue.step_activate(0)"><a class="active create-tour-tab">Tournament</a></li>
            <li class="tab col s3 reg-tabs" ng-click="registerQueue.step_activate(1)"><a class="create-tour-tab">Matches</a></li>
            <li class="tab col s3 reg-tabs" ng-click="registerQueue.step_activate(2)"><a class="create-tour-tab">Enrollment</a></li>
            <li class="tab col s3 reg-tabs" ng-click="registerQueue.step_activate(3)"><a class="create-tour-tab">Time</a></li>
        </ul>

        </div>

        <div class="form-content">

            <div id="step0" ng-show="registerQueue.currentState === 0">
                <div class='input-field'>
                    <input id='tournamentName' type='text' ng-model='tournamentName'>
                    <label for='tournamentName'>Tournament Name</label>
                </div>
                <div class='input-field'>
                    <input id='tournamentPlace' type='text' ng-model='tournamentPlace'>
                    <label for='tournamentPlace'>Tournament Place</label>
                </div>
                <div class='input-field'>
                    <textarea class='materialize-textarea' id='tournamentDescription' type='text'
                              ng-model='tournamentDescription'></textarea>
                    <label for='tournamentDescription'>Tournament Description</label>
                </div>
            </div>


            <div id="step1" ng-show="registerQueue.currentState === 1">
                <div class="input-field">
                    <input id="numberOfPitches" type="number" ng-model="numberOfPitches">
                    <label for="numberOfPitches">Number of pitches</label>
                </div>
                <div class="input-field">
                    <input id="numberOfTeams" type="number" min="0" ng-model="numberOfTeams">
                    <label for="numberOfTeams">Number of teams</label>
                </div>
                <div class="input-field">
                    <input id="level" type="number" min="0" ng-model="level">
                    <label for="level">Level</label>
                </div>
                <div class="input-field">
                    <input id="discipline" type="text" ng-model="discipline">
                    <label for="discipline">Discipline</label>
                </div>

            </div>


            <div id="step2" ng-show="registerQueue.currentState === 2">
                <div class="input-field">
                    <label for="enrollDeadline">Enroll end date</label>
                    <input id="enrollDeadline" type="date" class="datepicker" ng-model="enrollDeadline"/>
                </div>
                <div class="input-field">
                    <label for="enrollDeadlineTime">Enroll end time</label>
                    <input id="enrollDeadlineTime" type="time" class="timepicker" ng-model="enrollDeadlineTime"/>
                </div>
            </div>

            <div id="step3" ng-show="registerQueue.currentState === 3">
                <div class="input-field">
                    <label for="end">Begin date</label>
                    <input id="begin" type="date" class="datepicker" ng-model="begin"/>
                </div>
                <div class="input-field">
                    <label for="beginTime">Begin time</label>
                    <input id="beginTime" type="text" class="timepicker" ng-model="beginTime"/>
                </div>
                <div class="input-field">
                    <label for="end">End date</label>
                    <input id="end" type="date" class="datepicker" ng-model="end"/>
                </div>
                <div class="input-field">
                    <label for="endTime">End time</label>
                    <input id="endTime" type="text" class="timepicker" ng-model="endTime"/>
                </div>
                <div class="row col l3">

                    <div class="input-field">
                        <label for="extraBegin">Extra begin date</label>
                        <input id="extraBegin" type="date" class="datepicker" ng-model="extraBegin"/>
                    </div>
                </div>
                <div class="row col l3">
                    <div class="input-field">
                        <label for="extraBeginTime">Extra begin time</label>
                        <input id="extraBeginTime" type="text" class="timepicker" ng-model="extraBeginTime"/>
                    </div>
                </div>
                <div class="row col l3">
                    <div class="input-field">
                        <label for="extraEnd">Extra end date</label>
                        <input id="extraEnd" type="date" class="datepicker" ng-model="extraEnd"/>
                    </div>
                </div>
                <div class="row col l3">
                    <div class="input-field">
                        <label for="extraEndTime">Extra end time</label>
                        <input id="extraEndTime" type="text" class="timepicker" ng-model="extraEndTime"/>
                    </div>
                </div>
            </div>



            <button class="btn waves-effect waves-light create-tournament-button create-tour-submit" type="submit" id="submit" name="submit" >Create <i
                    class="mdi-content-send right"></i></button>
        </div>

    </div>
</div>
