<div class="page-content">
    <div class="row">
        <ul class="tabs">
            <li class="tab col s3 reg-tabs" ng-click="registerQueue.step_activate(0)"><a class="active create-tour-tab">Tournament</a></li>
            <li class="tab col s3 reg-tabs" ng-click="registerQueue.step_activate(1)"><a class="create-tour-tab">Matches</a></li>
            <li class="tab col s3 reg-tabs" ng-click="registerQueue.step_activate(2)"><a class="create-tour-tab">Enrollment</a></li>
            <li class="tab col s3 reg-tabs" ng-click="registerQueue.step_activate(3)"><a class="create-tour-tab">Time</a></li>
        </ul>

        </div>
    <form ng-submit="submit()" class="col s12">

        <div class="form-content">

            <div id="step0" ng-show="registerQueue.currentState === 0">
                <div class='input-field'>
                   <input class="{{tournamentNameClass}}" id='tournamentName' type='text' ng-model='tournamentName' ng-blur="tournamentNameClass = validateLength(tournamentName, 3, 20)">
                    <label for='tournamentName'>Tournament Name</label>
                    <span ng-if="tournamentNameClass == 'invalid'" class="inputValidationError">Tournament name must be 3-20 letters long.</span>
                </div>
                <div class='input-field'>
                    <input class="{{tournamentPlaceClass}}" id='tournamentPlace' type='text' ng-model='tournamentPlace' ng-blur="tournamentPlaceClass = validateLength(tournamentPlace, 3, 20)">
                    <label for='tournamentPlace'>Tournament Place</label>
                    <span ng-if="tournamentPlaceClass == 'invalid'" class="inputValidationError">Tournament place must be 3-20 letters long.</span>
                </div>
                <div class='input-field'>
                    <textarea class='materialize-textarea' id='tournamentDescription' type='text'
                              ng-model='tournamentDescription'></textarea>
                    <label for='tournamentDescription'>Tournament Description</label>
                </div>
            </div>


            <div id="step1" ng-show="registerQueue.currentState === 1">
                <div class="input-field">
                    <input class="{{numberOfPitchesClass}}" id="numberOfPitches" type="number" ng-model="numberOfPitches" ng-blur="numberOfPitchesClass = validatePattern(numberOfPitches, '^[1-9][0-9]*$' )">
                    <label for="numberOfPitches">Number of pitches</label>
                    <span ng-if="numberOfPitchesClass == 'invalid'" class="inputValidationError">Must be a number, at least 1.</span>
                </div>
                <div class="input-field">
                    <input class="{{numberOfTeamsClass}}" id="numberOfTeams" type="number" min="0" ng-model="numberOfTeams" ng-blur="numberOfTeamsClass = validatePattern(numberOfTeams, '^[2-9][0-9]*$|^1[0-9]+$' )">
                    <label for="numberOfTeams">Number of teams</label>
                    <span ng-if="numberOfTeamsClass == 'invalid'" class="inputValidationError">Must be a number, at least 2.</span>
                </div>
                <div class="input-field">
                    <input class="{{levelClass}}" id="level" type="number" min="0" ng-model="level" ng-blur="levelClass = validatePattern(level, '^[1-9][0-9]*$' )">
                    <label for="level">Level</label>
                    <span ng-if="levelClass == 'invalid'" class="inputValidationError">Must be a number, at least 1..</span>
                </div>
                <div class="input-field">
                    <select name="discipline" id="discipline" ng-model="discipline" ng-init="discipline='Volleyball'">
                        <option value="Volleyball">Volleyball</option>
                        <option value="BeachVolleyball">BeachVolleyball</option>
                    </select>
                </div>

            </div>


            <div id="step2" ng-show="registerQueue.currentState === 2">
                <div class="input-field">
                    <label for="enrollDeadline">Enroll end date</label>
                    <input class="{{enrollDeadlineClass}} datepicker" id="enrollDeadline" type="date" ng-model="enrollDeadline"/>
                    <span ng-if="enrollDeadlineClass == 'invalid'" class="inputValidationError">You must finish enrollment before the tournament begins.</span>
                </div>
                <div class="input-field">
                    <label for="enrollDeadlineTime">Enroll end time</label>
                    <input class="{{enrollDeadlineTimeClass}} timepicker" id="enrollDeadlineTime" type="text" ng-model="enrollDeadlineTime"/>
                    <span ng-if="enrollDeadlineTimeClass == 'invalid'" class="inputValidationError">You must finish enrollment before the tournament begins.</span>
                </div>
            </div>

            <div id="step3" ng-show="registerQueue.currentState === 3">
                <div class="input-field">
                    <label for="begin">Begin date</label>
                    <input class="{{beginClass}} datepicker" id="begin" type="date" ng-model="begin"/>
                    <span ng-if="beginClass == 'invalid'" class="inputValidationError">You must finish enrollment before the tournament begins.</span>
                </div>
                <div class="input-field">
                    <label for="beginTime">Begin time</label>
                    <input class="{{beginTimeClass}} timepicker" id="beginTime" type="text" ng-model="beginTime"/>
                    <span ng-if="beginTimeClass == 'invalid'" class="inputValidationError">You must finish enrollment before the tournament begins.</span>
                </div>
                <div class="input-field">
                    <label for="end">End date</label>
                    <input class="{{endClass}} datepicker" id="end" type="date" ng-model="begin"/>
                    <span ng-if="endClass == 'invalid'" class="inputValidationError">Sorry, this can't be done without a time machine.</span>
                </div>
                <div class="input-field">
                    <label for="endTime">End time</label>
                    <input class="{{endTimeClass}} timepicker" id="endTime" type="text" ng-model="endTime"/>
                    <span ng-if="endTimeClass == 'invalid'" class="inputValidationError">Sorry, this can't be done without a time machine.</span>
                </div>
                <div class="row col l6">

                    <div class="input-field">
                        <label for="extraBegin">Extra begin date</label>
                        <input class="{{extraBeginClass}} datepicker" id="extraBegin" type="date" ng-model="extraBegin"/>
                        <span ng-if="extraBeginClass == 'invalid'" class="inputValidationError">Extra dates must be later than the standard begin date.</span>
                    </div>
                </div>
                <div class="row col l6">
                    <div class="input-field">
                        <label for="extraBeginTime">Extra begin time</label>
                        <input class="{{extraBeginTimeClass}} timepicker" id="extraBeginTime" type="text"/>
                        <span ng-if="extraBeginTimeClass == 'invalid'" class="inputValidationError">Extra dates must be later than the standard begin date.</span>
                    </div>
                </div>
                <div class="row col l6">
                    <div class="input-field">
                        <label for="extraEnd">Extra end date</label>
                        <input class="{{extraEndClass}} datepicker" id="extraEnd" type="date" ng-model="extraEnd"/>
                        <span ng-if="extraEndClass == 'invalid'" class="inputValidationError">Extra dates must be later than the standard begin date.</span>
                    </div>
                </div>
                <div class="row col l6">
                    <div class="input-field">
                        <label for="extraEndTime">Extra end time</label>
                        <input class="{{extraEndTimeClass}} timepicker" id="extraEndTime" type="text" ng-model="extraEndTime"/>
                        <span ng-if="extraEndTimeClass == 'invalid'" class="inputValidationError">Extra dates must be later than the standard begin date.</span>
                    </div>
                </div>
            </div>



            <button class="btn waves-effect waves-light create-tournament-button create-tour-submit" type="submit" id="submit" name="submit" >Create <i
                    class="mdi-content-send right"></i></button>
        </div>
    </form>
    </div>
</div>
