<div class="page-content">
    <div class="row">
        <p>
            <button class="btn" ng-click="generate('tree')" >Generate Tree!</button>
            <button class="btn" ng-click="show('tree')" >Show Tree as Json!</button>
            <button class="btn" ng-click="showcase('tree')" >Show Tree (BETA)!</button>
            <button class="btn btn-danger" ng-click="remove('tree')">Remove Tree!</button>
        </p>
        <p>
            <button class="btn" ng-click="generate('table')" >Generate Table!</button>
            <button class="btn" ng-click="show('table')" >Show Table as Json!</button>
            <button class="btn" ng-click="showcase('table')" >Show Table (BETA)!</button>
            <button class="btn btn-danger" ng-click="remove('table')">Remove Table!</button>
        </p>
        <p>
            {{message}}
        </p>
    </div>
</div>