<div class="card-panel #f5f5f5 grey lighten-4  z-depth-1 content-bg">
    <div class="row">

        <form ng-submit="submit()" class="col l4 offset-l4">
            <div class="row col l12">
                <div class="input-field">
                    <input id="teamName" type="text" ng-model="teamName">
                    <label for="teamName">Team Name</label>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input id="captainName" type="text" ng-model="captainName">
                    <label for="captainName">Captain Name</label>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input id="captainSurname" type="text" ng-model="captainSurname">
                    <label for="captainSurname">Captain Surname</label>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input id="captainPhone" type="tel" ng-model="captainPhone">
                    <label for="captainPhone">Captain Phone</label>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input id="captainMail" type="email" ng-model="captainMail">
                    <label for="captainMail">Captain Mail</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" id="submit" name="submit">Enroll team!<i class="mdi-content-send right"></i></button>

        </form>
    </div>
</div>
