<div class="page-content">
    <div class="row">

        <div class="col s6">
            <div class="row">
            <div class="col l8 offset-l2" id="myTournaments">
            <div class="col l12"><h2>{{tournament.description.name}}</h2></div>
            <div>
                <h5>
                    <i class="mdi-maps-place"></i>Place: {{tournament.description.place}}
                </h5>
                <h5>
                    <i class="mdi-maps-place"></i><a href="#/tournaments/{{tournament._id}}/teams">Show teams!</a>
                </h5>
                <h5>
                    <i class="mdi-notification-event-note"></i>Start Date: {{tournament.term.begin}}
                </h5>
                <h5>
                    <i class="mdi-notification-event-note"></i>End Date: {{tournament.term.end}}
                </h5>
                <h5 class="col l6 ">
                    <i class="mdi-image-healing"></i> Pitches: {{tournament.settings.numberOfPitches}}
                </h5>
                <h5 class="col l6 ">
                    <i class="mdi-social-people"></i> Max teams: {{tournament.settings.numberOfTeams}}
                </h5>
                <h5 class="col l6 ">
                    <i class="mdi-social-poll"></i> Level: {{tournament.settings.level}}
                </h5>
                <h5 class="col l6 ">
                    <i class="mdi-action-polymer"></i> Discipline: {{tournament.settings.discipline}}
                </h5>
                <h6 class="col l12 center-align ">{{tournament.description.description}}</h6>
            </div>
            </div>
            </div>

        </div>
        <div class="row col s6">

        <form ng-submit="submit()" class="col l8 offset-l2">
            <div class="row col l12">
                <div class="input-field">
                    <input class="{{teamNameError ? 'invalid' : ''}}" id="teamName" type="text" ng-model="teamName" ng-blur="teamNameError = validateLength(teamName, 5, 20)">
                    <label for="teamName">Team Name</label>
                    <span ng-if="teamNameError != ''" class="inputValidationError">{{teamNameError}}</span>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input class="{{captainNameError ? 'invalid' : ''}}" id="captainName" type="text" ng-model="captainName" ng-blur="captainNameError = validateLength(captainName, 3, 20)">
                    <label for="captainName">Captain Name</label>
                    <span ng-if="captainNameError != ''" class="inputValidationError">{{captainNameError}}</span>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input class="{{captainSurnameError ? 'invalid' : ''}}" id="captainSurname" type="text" ng-model="captainSurname" ng-blur="captainSurnameError = validateLength(captainSurname, 3, 30)">
                    <label for="captainSurname">Captain Surname</label>
                    <span ng-if="captainSurnameError != ''" class="inputValidationError">{{captainSurnameError}}</span>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input class="{{captainPhoneClass}}" id="captainPhone" type="tel" ng-model="captainPhone" ng-blur="captainPhoneClass = validatePattern(captainPhone, '^[0-9]{9}$' )">
                    <label for="captainPhone">Captain Phone</label>
                    <span ng-if="captainPhoneClass == 'invalid'" class="inputValidationError">This must be a valid 9-digit phone numbers.</span>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input class="{{captainMailClass}}" id="captainMail" type="email" ng-model="captainMail" ng-blur="captainMailClass = validatePattern(captainMail, '[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?' )">
                    <label for="captainMail">Captain Mail</label>
                    <span ng-if="captainMailClass == 'invalid'" class="inputValidationError">This must be a valid email address.</span>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" id="submit" name="submit">Enroll team!<i class="mdi-content-send right"></i></button>

        </form>

        </div>

    </div>
</div>
