<div class="card-panel #f5f5f5 grey lighten-4  z-depth-1 content-bg">
    <div class="row">
        <p class="col s8 m7 flow-text"><b>{{tournament.description.name}} teams:</b></p>
        <a ng-click="tmp()" class="right read-more btn indigo waves-effect waves-light">Generate CSV</a>
    </div>
    <div class="row">
        <ul class="collapsible popout col l8 offset-l2" id="teams">
            <li  ng-repeat="team in teams">
                <div class="collapsible-header">
                    {{team.name}}
                    <a ng-click="tmp()" class="waves-effect right waves-teal btn-flat">Delete</a>
                </div>
                <div class="collapsible-body">
                    <ul class="collection col s12">
                        <li class="collection-item active ">Captain:  {{team.captain.name + " " + team.captain.surname}}</li>
                        <li ng-repeat="player in team.players" class="collection-item">{{player.name + " " + player.surname}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>