
<div class="col s12 indigo" style="padding: 20px">
    <div class="ngdialog-message">
        <h3>Delete Account</h3>
    </div>
</div>
<div ng-controller="UserController">
        <p>

   <p style="padding-left: 20px">{{user.userProperties.name}}, Are you sure you want to delete this account?</p>

        </p>
<div class="row" style="padding-top: 30px;">

    <div class="col s12 grid-example m8 l7" style="padding-left: 40px;">
        <a ng-click="Delete()" class="btn indigo waves-effect waves-light" >
            <i class="mdi-action-done"></i>
            Yes</a>
    </div>
    <div class="col s12 grid-example m5 l5">
        <a ng-click="closeThisDialog()" class="btn indigo waves-effect waves-light" >
            <i class="mdi-content-clear"></i>
            No</a>
    </div>

</div>
</div>