
<div class="col s12 indigo" style="padding: 20px">
    <div class="ngdialog-message">
        <h3>Delete Account</h3>
    </div>
</div>
        <p>
<div ng-controller="UserController">
    {{user.userProperties.name}}, Are you sure you want to delete this account?
</div>
        </p>
<div class="row" style="padding-top: 30px;">

    <div class="col s12 grid-example m8 l7" style="padding-left: 40px;">
        <a class="btn indigo waves-effect waves-light" >
            <i class="mdi-action-done"></i>
            Yes</a>
    </div>
    <div class="col s12 grid-example m5 l5">
        <a class="btn indigo waves-effect waves-light" >
            <i class="mdi-content-clear"></i>
            No</a>
    </div>

</div>
