<div class="col s12 indigo" style="padding: 20px">
    <div class="ngdialog-message">
        <h3>Edit Account</h3>
    </div>
</div>

<div ng-controller="UserController">
    <form ng-submit="submit()" class="col s12">
        <div class="ngdialog-buttons">
            <div class="row">
                <div class="col">
                    <div style="padding-top: 30">
                        <th data-field="name"><i class="mdi-action-account-circle"></i> <b>Login: </b> </th>
                    </div>
                </div>

                <div class=" col m9">
                    <div class="input-field col s10">
                        <input class="{{loginClass}}" id="login" type="text" ng-model="login" ng-blur="checkLoginAvailability()">
                        <label>{{user.userProperties.login}}</label>
                        <span ng-if="loginClass != ''" class="inputValidationError">{{loginClass}}</span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                        <div style="padding-top: 30">
                            <th data-field="name"><i class="mdi-action-accessibility"></i> <b>Name: </b> </th>
                        </div>
                    </div>


                <div class=" col m9">
                    <div class="input-field col s10">
                        <input class="{{nameClass}}" id="name" type="text" ng-model="name" ng-blur="validateNameField()">
                        <label>{{user.userProperties.name}}</label>
                        <span ng-if="nameClass != ''" class="inputValidationError">{{nameClass}}</span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div style="padding-top: 30">
                        <th data-field="phone"><i class="mdi-action-settings-phone"></i><b>Phone: </b>  </th>
                    </div>
                </div>

                <div class=" col m9">
                    <div class="input-field col s10">
                        <input class="{{phoneClass}}" id="phone" type="text" ng-model="phone" ng-blur="validateRegexField('phone')">
                        <label>{{user.userProperties.phone}}</label>
                        <span ng-if="phoneClass != ''" class="inputValidationError">{{phoneClass}}</span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div style="padding-top: 30">
                        <th data-field="mail"><i class="mdi-action-markunread-mailbox"></i> <b> Mail     :</b></th>
                    </div>
                </div>

                <div class=" col m9">
                    <div class="input-field col s10">
                        <input class="{{mailClass}}" id="mail" type="text" ng-model="mail" ng-blur="validateRegexField('mail')">
                        <label>{{user.userProperties.mail}}</label>
                        <span ng-if="mailClass != 'invalid'" class="inputValidationError">{{mailClass}}</span>


                    </div>
                </div>
            </div>
        </div>


        <div align="center" class="col s9">

            <button class="btn waves-effect indigo waves-light" type="submit" name="action">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </div>


    </form>

</div>


