
<div class="col s12 indigo" style="padding: 20px">
    <div class="ngdialog-message">
        <h3>Change Password</h3>
    </div>
</div>
<div ng-controller="UserController">
    <div class="input-field col s9">
        <input id="old_password" type="text" ng-model="old_password" ng-change="checkLoginAvailability()"
               ng-style="{'border-bottom' : loginBorderBottom, 'box-shadow' : loginBoxShadow}">
        <label for="login">Old Password</label>
    </div>
    <div class="input-field col s9">
        <input id="new_password" type="text" ng-model="new_password" ng-change="checkLoginAvailability()"
               ng-style="{'border-bottom' : loginBorderBottom, 'box-shadow' : loginBoxShadow}">
        <label for="name">New Password</label>
    </div>
    <div class="input-field col s9">
        <input id="confirm_password" type="text" ng-model="confirm_password" ng-change="checkLoginAvailability()"
               ng-style="{'border-bottom' : loginBorderBottom, 'box-shadow' : loginBoxShadow}">
        <label for="name">Confirm Password</label>
    </div>
</div>
<div align="center" class="col s9">

    <button class="btn waves-effect indigo waves-light" type="submit" name="action">Submit
        <i class="mdi-content-send right"></i>
    </button>
</div>



