<div class="col s12 indigo" style="padding: 20px">
    <div class="ngdialog-message">
        <h3>Change Password</h3>
    </div>
</div>

<div ng-controller="PasswordUserController">
    <form ng-submit="submit()" class="col s12">
        <div class="ngdialog-buttons">
            <div class="row">
                <div class="input-field col s9">
                    <input id="oldpassword" autocomplete="off" ng-model="first" type="password" ng-blur="validateFirstField()" >
                    <label for="oldpassword">New Password</label>
                    <span ng-if="firstClass != ''" class="inputValidationError">{{firstClass}}</span>

                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input id="newpassword" autocomplete="off" ng-model="second" type="password" ng-blur="validateSecondField()" >
                    <label for="newpassword">Confirm New Password</label>
                    <span ng-if="secondClass != ''" class="inputValidationError">{{secondClass}}</span>
                </div>
            </div>






        </div>


        <div align="center" class="col s9">

            <button class="btn waves-effect indigo waves-light" type="submit" name="action">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </div>


    </form>

</div>