<div class="col s12 indigo" style="padding: 20px">
    <div class="ngdialog-message fancyFont">
        <h3>Change Password</h3>
    </div>
</div>

<div ng-controller="UserController" class="fancyFont">
    <form ng-submit="submit()" class="col s12">
        <div class="ngdialog-buttons">
            <div class="row">
                <div class="input-field col s9">
                    <input id="oldpassword" type="text" >
                    <label for="oldpassword">Old Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input id="newpassword" type="text" >
                    <label for="newpassword">New Password</label>
                </div>
            </div>

        </div>


        <div align="center" class="col s9">

            <button class="btn waves-effect indigo waves-light" type="submit" name="action">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </div>


    </form>

</div>