<div style="background-image: url('http://student.agh.edu.pl/~lbukowsk/TMS.png');
position: fixed !important;
height: 100%;width: 100%;
background-size: cover;
top:60px;
">

    <div class="not_logged" ng-if="user==null">
        <div class="valign-wrapper" style="padding-top: 50px">
            <div class="center">
        <div class="card-panel #f5f5f5 grey lighten-4  z-depth-1 content-bg">
        {{message}}
            </div></div></div>
    </div>
    <div ng-if="user!=null">
    <div class="container" style="padding-top: 50px">
    <div class="valign-wrapper">
    <div class="center">
    <div class="my_trans">
<ul>
    <li>
        <table class="centered">
            <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="surname">Surname</th>
                <th data-field="phone">Phone</th>
                <th data-field="mail">Mail</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td> {{user.userProperties.name}}</td>
                <td> {{user.userProperties.login}}</td>
                <td> {{user.userProperties.phone}}</td>
                <td> {{user.userProperties.mail}}</td>
            </tr>


            </tbody>
        </table>
    </li>
    <li>
        <div style="padding-top: 20px;padding-left: 20px">
            <button  class="read-more btn-large indigo waves-effect waves-light">Edit</button>
        </div>


    </li>

</ul>
        </div>
    </div></div></div>
</div>