<div class="col s12 indigo" style="padding: 20px">
    <div class="ngdialog-message">
        <h3><i class="mdi-action-perm-contact-cal left"></i>Contact Info</h3>
    </div>
</div>
<div class="row">
    <div class="col s9">
        <h5><b>Name:</b><br>
            {{ngDialogData.name + " " + ngDialogData.surname}}</h5>
    </div>
</div>

<div class="row">
    <div class="col s9">
        <h5><b>Email Address: </b><br>
            {{ngDialogData.mail}}</h5>
    </div>
</div>

<div class="row">
    <div class="col s9">
        <h5 ><b>Phone:</b><br>
            {{ngDialogData.phone}}</h5>
    </div>
</div>