<div class="col s12 indigo" style="padding: 20px">
    <div class="ngdialog-message fancyFont">
        <h3>Contact Info</h3>
    </div>
</div>

<div class="row fancyFont">
    <div class="col s9">
        <h5><b>Name:</b><br>
            {{ngDialogData.captain.name + " " + ngDialogData.captain.surname}}</h5>
    </div>
</div>

<div class="row fancyFont">
    <div class="col s9">
        <h5><b>Email Address: </b><br>
            {{ngDialogData.mail}}</h5>
    </div>
</div>

<div class="row fancyFont">
    <div class="col s9">
        <h5 ><b>Phone:</b><br>
            {{ngDialogData.phone}}</h5>
    </div>
</div>