/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.row .col#myTournaments{
  padding: 0 0;
}
.my_trans{
    background-color: rgba(200, 211, 208, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 3px 6px 0px rgba(37, 50, 50, 0.59);
    -moz-box-shadow:    5px 3px 6px 0px rgba(37, 50, 50, 0.59);
    box-shadow:         5px 3px 6px 0px rgba(37, 50, 50, 0.59);
    width:800px;
}
.content-bg {
    margin: 4%;
    position: relative;
}

footer {
    background-color: #3f51b5;
    z-index: 999;
    position: fixed;
    bottom:0;
    width:100%;
}
footer.page-footer {
    background-color: #3f51b5;
}

.slider-image {
    width: 100%;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1000;
    max-height: 70%;
    opacity: 0;
    overflow-y: hidden;
    will-change: width, height; }
.dropdown-content li {
    cursor: pointer;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.5rem; }
.dropdown-content li:hover, .dropdown-content li.active {
    background-color: rgba(0, 0, 0, 0.06); }
.dropdown-content li > a, .dropdown-content li > span {
    display: block;
    padding: 0.5rem 0.5rem;
    color: #039be5;
}
#optionsdropdown.dropdown-content{
    min-width: 50px;
}

