/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.row .col#myTournaments{
  padding: 0 0;
}

.content-bg {
    margin: 4%;
    position: relative;
}

footer {
    background-color: #3f51b5;
    z-index: 999;
    position: fixed;
    bottom:0;
    width:100%;
}
footer.page-footer {
    background-color: #3f51b5;
}

.slider-image {
    width: 100%;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1000;
    max-height: 70%;
    opacity: 0;
    overflow-y: hidden;
    will-change: width, height; }
.dropdown-content li {
    cursor: pointer;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.5rem; }
.dropdown-content li:hover, .dropdown-content li.active {
    background-color: rgba(0, 0, 0, 0.06); }
.dropdown-content li > a, .dropdown-content li > span {
    display: block;
    padding: 0.5rem 0.5rem;
    color: #039be5;
}
#optionsdropdown.dropdown-content{
    min-width: 50px;
}

.active-progress {
    background-color: rgba(38, 166, 154, 1);
    color: white;
    opacity: 1.0;
}
.wrong-progress{
    color: white;

    background-color: rgb(243, 47, 24);
}
.carousel-container {
    width: 85%;
    text-align: center;
    overflow: auto;
    margin: auto;
    opacity: 0.8;
}

.form-content {
    width: 100%;
    text-align: center;
    min-height: 45vh;
    width: 60%;
    margin: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.0);
    /*border: 1px dashed lightgrey;*/
}



.progress-text-inner {
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
    width: 100%;
}
.create-tournament-button{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.indicator{
    background-color: #5c6bc0 !important;
}
.create-tour-tab{
    cursor: pointer;
    color: #1a237e !important;
}
.create-tour-tab:hover{
    color: #2d3dd8 !important;
}
.create-tour-submit{
    background-color:  #5c6bc0;
}
.create-tour-submit:hover{
    background-color: rgba(102, 118, 212, 0.80);
}