<div class="fullscreen slider" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <ul class="slides">
        <li class="" style="opacity: 0; transform: translateX(0px) translateY(0px);">
            <img src="http://upload.wikimedia.org/wikipedia/commons/0/0c/Silhouette_Volleyball.JPG"> <!-- random image -->
            <div class="caption center-align" style="opacity: 0; transform: translateY(-100px) translateX(0px);">
                <h3>Organise tournaments</h3>
                <h5 class="light grey-text text-lighten-3">with your friends.</h5>
            </div>
        </li>
        <li class="" style="opacity: 0; transform: translateX(0px) translateY(0px);">
            <img src="http://p1.pichost.me/i/51/1749584.jpg"> <!-- random image -->
            <div class="caption left-align" style="opacity: 0; transform: translateX(-100px) translateY(0px);">
                <h3>Play volleyball</h3>
                <h5 class="light grey-text text-lighten-3">whenever you want.</h5>
            </div>
        </li>
        <li class="" style="opacity: 0; transform: translateX(0px) translateY(0px);">
            <img src="http://1.bp.blogspot.com/-c0XnqeG56Fo/Umii1J3ftqI/AAAAAAAAaxg/LiOoyER_ffs/s1600/photpgraphycomp20113.jpg"> <!-- random image -->
            <div class="caption right-align" style="opacity: 0; transform: translateX(100px) translateY(0px);">
                <h3>Show your skills</h3>
                <h5 class="light grey-text text-lighten-3">to the entire world.</h5>
            </div>
        </li>
        <li class="active" style="opacity: 1; transform: translateX(0px) translateY(0px);">
            <img src="http://3.bp.blogspot.com/-_f0haHpKvXY/UmiibVQi7yI/AAAAAAAAawQ/SUURQVQgEUA/s1600/Hunter-Hawks-Volleyball-Photography.jpg"> <!-- random image -->
            <div class="caption center-align" style="opacity: 1; transform: translateY(0px) translateX(0px);">
                <h3>Team up</h3>
                <h5 class="light grey-text text-lighten-3">with people you've never met.</h5>
            </div>
        </li>
    </ul>
</div>