<div class="card-panel #f5f5f5 grey lighten-4  z-depth-1 content-bg">
    <div class="row">

        <form ng-submit="submit()" class="col l4 offset-l4">
            <div class="row col l12">
                <div class="input-field">
                    <input id="name" type="text" ng-model="name">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row col l12">
                <div class="input-field">
                    <input id="surname" type="text" ng-model="surname">
                    <label for="surname">Surname</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" id="submit" name="submit">Add Player!<i class="mdi-content-send right"></i></button>

        </form>
    </div>
</div>
