

    <div ng-controller="UserCtrl as uc">
        <div class="row">
            <div class="form-group">
                <h3>
                    Users
                    <a ng-href="/#/users/create" class="btn btn-primary pull-right" id="btn_user_create">Add User</a>
                </h3>
            </div>


            <table id="user_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="usr in uc.users | filter:searchText">
                    <td>
                        {{ usr._id.$oid }}
                    </td>
                    <td>
                        {{ usr.name }}
                    </td>
                    <td>
                        {{ usr.age }}
                    </td>
                    <td>
                        <button type="submit" ng-click="uc.deleteUser(usr._id)"  class="btn btn-danger" id="btn_delete">Delete User</button>
                    </td>
                    <td>
                        <a ng-href="/#/users/update/{{usr._id.$oid}}" class="btn btn-warning pull-right" id="btn_user_update">Update User</a>
                    </td>
                </tr>
                <tr ng-hide="uc.users.length">
                    <td colspan="3">
                        <p class="text-center">No Users Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr>
            <h4>Debug:</h4>
            <pre>{{ uc.users | json }}</pre>
        </div>

    </div>
