
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <title>TMS</title>
        <link rel="stylesheet" href='@routes.Assets.at("css/bootstrap.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("css/mainpage.css")'>
        <script src='@routes.Assets.at("vendor/jquery.js")'></script>
        <script src='@routes.Assets.at("vendor/bootstrap.js")'></script>
        <script src='@routes.Assets.at("css/bootstrap.css")'></script>

    </head>
    <body ng-app="mainApp">
        <div class="navbar navbar-default mainnavbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <b class="navbar-brand logo">TMS</b>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle logo" data-toggle="dropdown">Tournaments <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create Tournament</a></li>
                            <li><a href="#">Enroll Tournament</a></li>
                            <li class="divider"></li>
                            <li><a ui-sref="tournaments">My Tournaments</a></li>


                        </ul>
                    </li>

                    <li ><a ui-sref="statistics">Staticstics</a></li>

                </ul>
                <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <img class="dropdown-toggle" data-toggle="dropdown"  src='@routes.Assets.at("images/menubig.png")' height="64px"></img>
                        <ul class="dropdown-menu personalmenu">
                            <li><a ui-sref="tournaments">Settings</a></li>
                            <li><a ui-sref="tournaments">Stats</a></li>
                            <li class="divider"></li>
                            <li><a ui-sref="tournaments">Logout</a></li>


                        </ul>
                    </li>




                </ul>
            </div>
        </div>



        <div class="container-fluid col-md-7 col-md-offset-2">

            <header>

            </header>



            <div ui-view></div>
                <!-- We'll also add some navigation: -->


            <div>
                <footer>
                    <hr/>
                    <div>
                        <span>&copy; tms.tegess.com.pl 2014</span>
                        <span class="pull-right">version : <span app-version></span></span>
                    </div>
                </footer>
            </div>
        </div>


        <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js' type="text/javascript"></script>
        @*<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.js' type="text/javascript"></script>*@
        <script src='@routes.Assets.at("vendor/angular-ui-router.js")'></script>

        <script src='@routes.Assets.at("userapp/app.js")'></script>
        <script src='@routes.Assets.at("userapp/controllers/StatisticsController.js")'></script>
        <script src='@routes.Assets.at("userapp/controllers/TournamentsController.js")'></script>
        <script src='@routes.Assets.at("vendor/loading-bar.js")'></script>

    </body>

</html>